<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tourmanagement?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <mapping resource="db/entity/Passenger.hbm.xml"/>
        <mapping resource="db/entity/DriverRoute.hbm.xml"/>
        <mapping resource="db/entity/Coach.hbm.xml"/>
        <mapping resource="db/entity/Bill.hbm.xml"/>
        <mapping resource="db/entity/Route.hbm.xml"/>
        <mapping resource="db/entity/Tour.hbm.xml"/>
        <mapping resource="db/entity/Town.hbm.xml"/>
        <mapping resource="db/entity/Hotel.hbm.xml"/>
        <mapping resource="db/entity/Driver.hbm.xml"/>
        <mapping resource="db/entity/RouteTown.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
